{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
    </div>

    <div class="col-4">
        <img src="/assets/img/porsche.jpg" class="img-thumbnail">
    </div>
    
</div>

{{> footer}}